---
import { Svg } from '@svjson/react';

import { meRicknmorty } from '@/assets/svg';
import Page from '@/new/layout/Page.astro';
---

<Page {...Astro.props}>
  <picture slot="image" class="hero__figure">
    <Svg alt="Me as a Rick and Morty Character" src={meRicknmorty as any} />
  </picture>
  <Fragment slot="section">
    <main class="section__main">
      <slot />
    </main>
  </Fragment>
</Page>

<style is:global>
  .enabled {
    .hero__buttons {
      @apply flex
      flex-wrap
      gap-4
      w-full;
    }

    .hero__figure {
      @apply flex
      justify-end
      overflow-hidden
      -mb-48
      dark:text-dark-darkest
      text-dark-comment;
      .lenses {
        @apply opacity-90
        dark:opacity-20
        transition-opacity
        duration-500;
      }
    }

    .section__main {
      @apply flex flex-col gap-16 w-full;
    }
  }
</style>
