<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="enabled">
    <section class="page">
      <slot />
    </section>
    <style is:global>
      .dark .enabled {
        color-scheme: dark;
      }
      html,
      body {
        &.enabled {
          width: 100%;
          height: 100vh;
          display: flex;

          .page {
            @apply flex
            flex-col
            w-full
            pb-32
            bg-gray-100
            dark:bg-dark-darkest;
          }
        }
      }

      * {
        @apply scroll-smooth
        transition-colors
        duration-75;
      }

      @media (prefers-reduced-motion: reduce) {
        * {
          animation-duration: 0ms !important;
          transition-duration: 0ms !important;
          scroll-behavior: initial;
        }
      }
    </style>
  </body>
</html>
