.hero {
  @apply flex
  h-[80vh]
  w-full
  dark:bg-dark-darkest;

  clip-path: url(#hero-clip-path);

  @keyframes grow {
    from {
      height: 100vh;
    }
  }

  animation-name: grow;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
