---
import { Svg } from '@svjson/react';

import { meRicknmorty } from '@/assets/svg';
import Hero from '@/new/components/Hero.astro';
import Layout from '@/new/layout/Layout.astro';
---

<Layout>
  <Hero>
    <h1>Welcome to my personal website!</h1>
    <h2>
      Here I talk about my experiences and technologies, that I'm passionate
      about.
    </h2>
    <a href="">link</a>

    <div
      slot="image"
      class="flex justify-end dark:text-dark-darkest text-dark-comment overflow-hidden -mb-48"
    >
      <Svg alt="Me as a Rick and Morty Character" src={meRicknmorty as any} />
    </div>
  </Hero>
  <div class="flex h-[200vh]">96</div>
</Layout>
