---
import Hero from '@/new/components/Hero.astro';
import Layout from '@/new/layout/Layout.astro';
---

<Layout>
  <Hero>
    <h1>Welcome to my personal website!</h1>
    <h2>
      Here I talk about my experiences and technologies, that I'm passionate
      about.
    </h2>
    <a href="">link</a>
  </Hero>
</Layout>
