---
import Header from '@/new/components/Header.astro';
import Hero from '@/new/components/Hero.astro';
import Layout from '@/new/layout/Layout.astro';
---

<Layout>
  <section class="page">
    <Header />
    <Hero />
  </section>
</Layout>

<style>
  .page {
    @apply flex w-full p-4 bg-gray-100;
    height: 200%;
  }
</style>
