---
import { getLanguageFromURL } from '../util';

const lang = getLanguageFromURL(Astro.url.pathname);
const { href } = Astro.props;
---

<a class="button" href={`/${lang}/${href}`}>
  <slot />
</a>

<style>
  .button {
    @apply flex
    justify-center
    outline-none
    first-of-type:bg-dark-currentLine
    first-of-type:text-white
    dark:last-of-type:border-dark-cyan
    dark:last-of-type:text-dark-cyan
    last-of-type:border-dark-comment
    last-of-type:text-dark-comment
    hover:bg-dark-comment
    hover:text-white
    focus:bg-dark-comment
    focus:text-white
    last-of-type:border
    rounded-full
    p-4
    w-full
    md:max-w-64
    cursor-pointer
    transition-colors;
  }
</style>
