---
import { getLanguageFromURL } from '@/util';

const lang = getLanguageFromURL(Astro.url.pathname);
const { href, title } = Astro.props;
---

<a class="button" title={title} href={`/${lang}/${href}`}>
  <slot />
</a>

<style>
  .button {
    @apply flex
    justify-center
    outline-none
    first-of-type:bg-dracula-currentLine
    first-of-type:text-white
    dark:last-of-type:border-dracula-cyan
    dark:last-of-type:text-dracula-cyan
    last-of-type:border-dracula-comment
    last-of-type:text-dracula-comment
    hover:bg-dracula-comment
    hover:text-white
    focus:bg-dracula-comment
    focus:text-white
    last-of-type:border
    rounded-full
    p-4
    w-full
    md:max-w-64
    cursor-pointer
    transition-colors;
  }
</style>
