---
const { title, description, url } = Astro.props;
---

<a class="card outline-none" title={title} href={url}>
  <section>
    <header class="header">
      <h4>{title}</h4>
      <p>{description}</p>
    </header>
  </section>
</a>

<style>
  .card {
    @apply p-8
    rounded
    shadow-2xl
    border
    border-gray-200
    dark:border-dark-currentLine
    dark:bg-dark-darkest;

    transition-property: box-shadow color;
    transition-duration: 500ms;

    @apply hover:shadow-md
    focus:shadow-md
    hover:text-dark-comment
    focus:text-dark-comment
    hover:border-dark-comment
    focus:border-dark-comment;

    .header {
      @apply flex flex-col gap-4;
    }

    p {
      @apply text-gray-400;
    }
  }
</style>
