---
const { class: classes, className } = Astro.props;
---

<div class:list={["contain", classes, className]}>
  <slot />
</div>

<style>
  .contain {
    @apply container
    px-4
    py-32
    xl:p-32
    mx-auto;
  }
</style>
