---
import { Svg } from '@svjson/react';

const { clip } = Astro.props;
---

<div class="hero">
  <Svg className="absolute" alt="clip" src={clip} clipPathId="hero-clip-path" />
  <div class="content">
    <header class="header"><slot /></header>
    <slot name="image" />
  </div>
</div>

<style>
  .hero {
    @apply flex relative
    w-full
    bg-gray-200
    dark:bg-dark-background;

    clip-path: url(#hero-clip-path);

    .content {
      @apply container
      grid
      md:grid-cols-2
      items-center
      mx-auto
      p-8
      pt-16
      pb-32
      gap-16;
    }

    .header {
      @apply flex
      flex-col
      gap-8;
    }
  }
</style>
