---
import Container from '@/components/Container.astro';
import Heading from '@/components/Heading.astro';

const { title, description } = Astro.props;

export type Props = { title: string; description: string };
---

<section class="hero">
  <Container class="content">
    <header>
      <Heading as="h1" isHighlighted>{title}</Heading>
      <Heading as="h2">{description}</Heading>
      <slot />
    </header>
    <slot name="image" />
  </Container>
</section>

<style>
  .hero {
    @apply grid shadow-lg
    rounded-b-3xl
    bg-gray-200
    dark:bg-dracula-background
    glow-b-dracula-comment
    dark:glow-b-dracula-green;

    .content {
      @apply grid
      items-center
      pt-16
      sm:pt-32
      md:grid-cols-2;

      header {
        @apply flex
        flex-col
        gap-8;
      }
    }
  }
</style>
