---
const { title, description } = { ...Astro.props, ...Astro.props.frontmatter };

export type Props = {
  title?: string;
  description?: string;
  frontmatter?: Record<string, any>;
};
---

<section class="hero">
  <div class="hero__content">
    <header class="hero__header">
      <h1>{title}</h1>
      <h2>{description}</h2>
      <slot />
    </header>
    <slot name="image" />
  </div>
</section>

<style is:global>
  .hero {
    @apply grid shadow-lg
    rounded-b-3xl
    bg-gray-200
    dark:bg-dracula-background
    glow-b-dracula-comment
    dark:glow-b-dracula-green;

    .hero__content {
      @apply container
        p-8
        py-32
        xl:p-32
        mx-auto
        grid
        items-center
        md:grid-cols-2;

      .hero__header {
        @apply flex
          flex-col
          gap-8;
      }
    }
  }
</style>
