---
import Container from "@/components/Container.astro";
import Title from "@/components/Title.astro";
const { title, description } = Astro.props;
export type Props = { title: string; description: string };
---

<section>
  <Container class="content">
    <header>
      <Title transition:name="h1" as="h1" isHighlighted>{title}</Title>
      <Title transition:name="h2" as="h2">{description}</Title>
      <slot />
    </header>
    <slot name="image" />
  </Container>
</section>

<style>
  section {
    @apply grid
    shadow-lg
    bg-white
    dark:bg-dracula-background
    glow-b-dracula-comment
    dark:glow-b-dracula-green;

    & > :global(.content) {
      @apply !grid
      items-center
      pt-16
      sm:pt-32
      md:grid-cols-2;

      header {
        @apply flex
        flex-col
        gap-8;
      }
    }
  }
</style>
