---
import { getLanguageFromURL } from '@/util';

const lang = getLanguageFromURL(Astro.url.pathname);
const { href, title, isOutlined, isButton } = Astro.props;
---

<a
  class:list={[
    'link',
    isButton ? 'link--button' : null,
    isOutlined ? 'link--outlined' : null,
  ]}
  title={title}
  href={href}
>
  {title}
</a>

<style>
  .link {
    @apply outline-none text-center;

    &:not(.link--button) {
      @apply gap-2
      text-blue-600
      dark:text-dracula-cyan;

      &:is(:hover, :focus, :active) {
        @apply underline;
      }
    }

    &.link--button {
      @apply flex
      justify-center
      items-center;

      @apply outline-none
      rounded-full
      p-4
      w-full
      md:max-w-64
      cursor-pointer
      duration-500
      transition-colors;

      &:not(.link--outlined),
      &.link--outlined {
        &:is(:hover, :focus) {
          @apply text-white
          bg-dracula-comment
          dark:text-dracula-background
          dark:bg-dracula-cyan
          border-dracula-comment;
        }
      }

      &.link--outlined {
        @apply text-dracula-currentLine
        dark:text-dracula-cyan
        border
        border-dracula-currentLine
        dark:border-dracula-cyan;
      }

      &:not(.link--outlined) {
        @apply text-white
        bg-dracula-currentLine
        dark:text-dracula-background
        dark:bg-dracula-green;
      }
    }
  }
</style>
