---
import mermaidParse from 'mermaid-parse';

const { chart } = Astro.props;

let htmlRes = chart;

try {
  htmlRes = await mermaidParse(chart, { extension: 'svg' });
} catch (error) {}
---

{
  Astro.slots.default ? (
    <div class="mermaid-container">
      <slot />
      <div class="mermaid" set:html={htmlRes} />
    </div>
  ) : (
    <div class="mermaid" set:html={htmlRes} />
  )
}

<style is:global>
  .mermaid-container {
    @apply flex flex-wrap lg:flex-nowrap gap-4 w-full;
    .shiki {
      @apply w-full;
    }
  }

  .mermaid {
    @apply flex w-full overflow-y-auto;

    .edgePaths * {
      @apply dark:!stroke-dracula-green;
    }

    .edgeLabel {
      @apply dark:!bg-dracula-background;
    }

    .marker,
    marker * {
      :not(#ZERO_OR_MORE_START, #ZERO_OR_MORE_END) {
        @apply dark:!fill-dracula-green;
      }

      @apply dark:!stroke-dracula-green;
    }

    circle:not([class^='actor']):not(.commit) {
      @apply dark:!fill-dracula-darkest;
      @apply dark:!stroke-dracula-cyan;

      &.face {
        @apply dark:!stroke-dracula-cyan;
      }
    }

    .mouth {
      @apply dark:!stroke-dracula-cyan;
    }

    #crosshead * {
      @apply dark:!stroke-dracula-green;
    }

    line,
    .relationshipLine {
      @apply dark:!stroke-dracula-green;

      &[id^='actor'] {
        @apply dark:!stroke-dracula-cyan;
      }
    }

    .nodes {
      a {
        &:hover {
          .node * {
            @apply dark:!stroke-dracula-cyan !stroke-dracula-red;
          }
        }
      }
      .state-start,
      .state-end,
      .fork-join {
        @apply dark:!stroke-dracula-orange;
      }
    }

    .node *,
    .actor,
    .entityBox,
    .relationshipLabelBox,
    .attributeBoxEven,
    .attributeBoxOdd,
    .task,
    .reqBox,
    .reqLabelBox,
    .commit-label-bkg {
      @apply dark:!fill-dracula-background
      dark:!stroke-dracula-currentLine !opacity-100;

      &[class^='task crit'] {
        @apply !fill-dracula-red;
      }

      &[class^='task active'] {
        @apply !fill-dracula-cyan;
      }

      &[class^='task activeCrit'] {
        @apply !fill-dracula-orange;
      }
    }

    .today {
      @apply !stroke-dracula-orange;
    }

    .cluster *,
    .statediagram-cluster *,
    .journey-section {
      @apply dark:!fill-dracula-darkest
      dark:!stroke-dracula-currentLine;
    }

    .actor *,
    .messageText,
    .entityLabel,
    .relationshipLabel {
      @apply dark:!fill-dracula-cyan;
    }

    [class^='activation'] {
      @apply dark:!fill-dracula-orange;
    }

    text:not(.taskText),
    .legend {
      &:not(.slice):not(.commit-label) {
        @apply dark:!fill-dracula-cyan;
      }

      .row {
        @apply fill-white;
      }
    }

    * {
      @apply dark:!text-dracula-cyan;
    }
  }
</style>
