---
const chart = Astro.props.chart;
---

<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>

<script>
  const nodes = document.querySelectorAll('[data-mermaid]');
  Array.from(nodes).forEach((node) => {
    node.innerHTML = node.getAttribute('data-mermaid') || '';
    node.className = 'mermaid';
  });
</script>

{
  Astro.slots.default ? (
    <div class="mermaid-container">
      <slot />
      <div data-mermaid={chart} />
    </div>
  ) : (
    <div data-mermaid={chart} />
  )
}

<style is:global>
  .mermaid-container {
    @apply flex flex-wrap lg:flex-nowrap gap-4 w-full;
    .shiki {
      @apply w-full;
    }
  }

  .mermaid {
    @apply flex w-full overflow-y-auto;

    .edgePaths * {
      @apply dark:!stroke-dark-green;
    }

    .edgeLabel {
      @apply dark:!bg-dark-background;
    }

    .marker,
    marker * {
      :not(#ZERO_OR_MORE_START, #ZERO_OR_MORE_END) {
        @apply dark:!fill-dark-green;
      }

      @apply dark:!stroke-dark-green;
    }

    circle:not([class^='actor']):not(.commit) {
      @apply dark:!fill-dark-darkest;
      @apply dark:!stroke-dark-cyan;

      &.face {
        @apply dark:!stroke-dark-cyan;
      }
    }

    .mouth {
      @apply dark:!stroke-dark-cyan;
    }

    #crosshead * {
      @apply dark:!stroke-dark-green;
    }

    line,
    .relationshipLine {
      @apply dark:!stroke-dark-green;

      &[id^='actor'] {
        @apply dark:!stroke-dark-cyan;
      }
    }

    .nodes {
      a {
        &:hover {
          .node * {
            @apply dark:!stroke-dark-cyan !stroke-dark-red;
          }
        }
      }
      .state-start,
      .state-end,
      .fork-join {
        @apply dark:!stroke-dark-orange;
      }
    }

    .node *,
    .actor,
    .entityBox,
    .relationshipLabelBox,
    .attributeBoxEven,
    .attributeBoxOdd,
    .task,
    .reqBox,
    .reqLabelBox,
    .commit-label-bkg {
      @apply dark:!fill-dark-background
      dark:!stroke-dark-currentLine !opacity-100;

      &[class^='task crit'] {
        @apply !fill-dark-red;
      }

      &[class^='task active'] {
        @apply !fill-dark-cyan;
      }

      &[class^='task activeCrit'] {
        @apply !fill-dark-orange;
      }
    }

    .today {
      @apply !stroke-dark-orange;
    }

    .cluster *,
    .statediagram-cluster *,
    .journey-section {
      @apply dark:!fill-dark-darkest
      dark:!stroke-dark-currentLine;
    }

    .actor *,
    .messageText,
    .entityLabel,
    .relationshipLabel {
      @apply dark:!fill-dark-cyan;
    }

    [class^='activation'] {
      @apply dark:!fill-dark-orange;
    }

    text:not(.taskText),
    .legend {
      &:not(.slice):not(.commit-label) {
        @apply dark:!fill-dark-cyan;
      }

      .row {
        @apply fill-white;
      }
    }

    * {
      @apply dark:!text-dark-cyan;
    }
  }
</style>
