---
import Heading from '@/components/Heading.astro';
import Link from '@/components/Link.astro';
import { getLanguageFromURL, getTranslation } from '@/util';

const { title, summary, url, date } = Astro.props;
const lang = getLanguageFromURL(Astro.url.pathname);

const dateNew = new Date(date).setHours(24);
const dateFormatter = new Intl.DateTimeFormat(lang);
const created = dateFormatter.format(dateNew);
---

<section class="post-preview">
  <header>
    <p>{created}</p>
    <Heading>{title}</Heading>
  </header>
  <main>
    <p class="summary">{summary}</p>
  </main>
  <footer>
    <Link
      href={`/${url}`}
      class="link"
      title={getTranslation(lang, 'POST_PREVIEW_LINK')}
    />
  </footer>
</section>

<style>
  .post-preview {
    @apply flex flex-col gap-2 max-w-96;

    p {
      @apply !text-sm;
    }
  }
</style>
