---
const { label, value } = Astro.props;

export type Props = {
  label: string;
  value: string;
};
---

<a class="tag" title={label} href={value}>{label}</a>

<style is:global>
  .tag {
    @apply flex
    justify-center
    rounded-full
    py-2
    px-4
    font-bold
    tracking-widest
    text-xs
    outline-none
    transition-all
    delay-75
    duration-300
    ease-in-out
    text-dracula-comment
    dark:text-dracula-green
    border
    border-dracula-comment
    dark:border-dracula-green;

    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @apply text-white
      bg-dracula-comment
      dark:text-dracula-darkest
      dark:bg-dracula-green;
    }
  }
</style>
