<section class="hero">
  <div class="hero__content">
    <header class="hero__header">
      <h1>Welcome to my personal website!</h1>
      <h2>
        Here I talk about my experiences and technologies, that I'm passionate
        about.
      </h2>
      <a href="">link</a>
    </header>
  </div>
</section>

<style is:global>
  .enabled {
    .hero {
      @apply mb-32
      p-8
      py-32
      shadow-2xl
      text-gray-400
      bg-white
      dark:bg-dark-background;

      .hero__content {
        @apply container
        mx-auto
        grid
        md:grid-cols-2;

        .hero__header {
          @apply flex
          flex-col
          gap-8;

          h1 {
            @apply text-2xl
            md:text-3xl
            lg:text-5xl
            font-bold
            tracking-wider;

            @apply text-transparent
            bg-clip-text
            bg-gradient-to-r
            from-dark-comment
            to-dark-purple;
          }
        }
      }
    }
  }
</style>
