---
import { Svg } from '@svjson/react';

import { meRicknmorty } from '@/assets/svg';
import Hero from '@/components/Hero.astro';
import Tag from '@/components/Tag.astro';
import Layout from '@/layouts/Layout.astro';

const { lang } = Astro.props;

// const files = await Astro.glob('./posts/**/*.mdx');

// const categories = files
//   .filter(({ frontmatter }) => frontmatter.category)
//   .map(({ frontmatter, url }) => ({
//     label: frontmatter.category,
//     value: url,
//   }));

// const posts = files
//   .filter(({ frontmatter }) => frontmatter.categories)
//   .sort((a, b) => {
//     const dateA = new Date(a.frontmatter.date).setHours(24);
//     const dateB = new Date(b.frontmatter.date).setHours(24);

//     return dateB - dateA;
//   });

export type Props = {
  lang: string;
};
---

<Layout {...Astro.props}>
  <Hero {...Astro.props}>
    <picture slot="image" class="hero__figure">
      <Svg
        alt={lang === 'en'
          ? 'Me as a Rick and Morty Character'
          : 'Eu como um personagem de Rick and Morty'}
        src={meRicknmorty as any}
      />
    </picture>
  </Hero>
  <section class="section">
    <main class="section__main">
      <slot />
    </main>
  </section>
</Layout>

<style is:global>
  .hero__figure {
    @apply flex
    justify-end
    overflow-hidden
    -mb-48
    dark:text-dracula-darkest
    text-dracula-comment;
    .lenses {
      @apply opacity-90
      dark:opacity-20
      transition-opacity
      duration-500;
    }
  }
  .section {
    @apply flex
    flex-wrap
    gap-8
    container
    p-8
    py-32
    xl:p-32
    mx-auto;

    .section__main {
      @apply flex
      flex-col
      w-full
      gap-8;
    }
  }
</style>
