---
import Card from '../components/Card.astro';
import Layout from './Layout.astro';

import { getLanguageFromURL } from '../util';

const posts = await Astro.glob('../pages/**/posts/**/*.mdx');
const lang = getLanguageFromURL(Astro.url.pathname);
---

<Layout {...Astro.props}>
  <main class="main">
    <article class="article">
      <slot />
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          posts
            .filter(({ url }) => (url ?? '').startsWith(`/${lang}`))
            .map(({ frontmatter, url }) =>
              frontmatter.title ? (
                <Card lang={lang} url={url} {...frontmatter} />
              ) : null,
            )
        }
      </div>
    </article>
  </main>
</Layout>

<style>
  .main {
    @apply flex
    gap-8
    container
    mx-auto
    p-8
    py-16;
  }

  .article {
    @apply flex
    flex-col
    grow
    gap-8;
  }
</style>
