---
import './Layout.css';

import { Header } from '../components/Header';

const { frontmatter } = Astro.props;
const title = frontmatter?.title || 'Title';
const classes = frontmatter?.classes || '';
---

<html>
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="body">
    <section class:list={['section', classes]}>
      <Header />
      <slot />
    </section>
  </body>
</html>
