---
import CodeSnippet from '@/components/CodeSnippet.astro';
import Header from '@/components/Header.astro';
import Meta from '@/layouts/Meta.astro';
import { getLanguageFromURL } from '@/util';

const props = {
  lang: getLanguageFromURL(Astro.url.pathname),
  ...Astro.props,
  knownLanguages: ['en', 'pt-BR'],
};
---

<!DOCTYPE html>
<html lang={props.lang} class="dark">
  <head>
    <Meta {...props} />
  </head>
  <body>
    <section class="page">
      <Header {...props} />
      <slot />
    </section>
    <CodeSnippet />
    <style is:global>
      * {
        /* @apply outline outline-1 outline-red-500; */
        @apply scroll-smooth
        transition-colors
        duration-75;

        @media (orientation: landscape) {
          &::-webkit-scrollbar {
            @apply w-3;
          }
          &::-webkit-scrollbar-track {
            @apply bg-dracula-foreground dark:bg-[color:#0005] rounded-full;
          }
          &::-webkit-scrollbar-thumb {
            @apply rounded-full bg-dracula-comment dark:bg-dracula-green;
          }
        }
      }

      @media (prefers-reduced-motion: reduce) {
        * {
          animation-duration: 0ms !important;
          transition-duration: 0ms !important;
          scroll-behavior: initial !important;
        }
      }

      h1 {
        @apply text-2xl
        md:text-3xl
        lg:text-5xl
        font-bold
        tracking-wider;

        @apply text-transparent
        bg-clip-text
        bg-gradient-to-r
        from-dracula-currentLine
        to-dracula-comment
        dark:from-dracula-cyan 
        dark:to-dracula-green;
      }

      h2 {
        @apply text-lg
        lg:text-2xl;
      }

      h3 {
        @apply text-lg
        md:text-2xl
        font-bold;
      }

      h4 {
        @apply text-lg font-bold;
      }

      h5 {
        @apply font-bold;
      }

      strong {
        @apply text-dracula-comment dark:text-dracula-green;
      }

      blockquote {
        @apply italic
        p-4
        border-l-4
        dark:border-l-dracula-green
        border-l-dracula-comment
        bg-black
        bg-opacity-5
        rounded;
      }

      article {
        a {
          @apply font-bold
          underline
          text-blue-600
          dark:text-dracula-cyan;
        }

        ul {
          @apply pl-8;
          li {
            @apply list-disc;
          }
        }

        ol {
          @apply pl-8;
          li {
            @apply list-decimal;
          }
        }
      }
      html,
      body,
      .page {
        @apply font-base
        flex
        flex-col
        w-full
        min-h-[100dvh]
        dark:bg-dracula-darkest;
      }

      .dark {
        color-scheme: dark;
      }
      .page {
        @apply text-gray-600
        dark:text-gray-50;
      }
    </style>
  </body>
</html>
