---
import './Mermaid.css';

const chart = Astro.props.chart;
---

<script is:inline src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"
></script>
<script>
  Array.from(document.querySelectorAll('.mermaid')).map((el) => {
    el.innerHTML = el.getAttribute('data-mermaid') ?? '';
    el.removeAttribute('data-mermaid');
  });
</script>

<div class="mermaid" data-mermaid={chart}></div>
