---
import GlobalStyle from "@/layouts/GlobalStyle.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import {
  KNOWN_LANGUAGES,
  TRANSLATIONS,
  type TranslationsOptions,
} from "@/consts";
import { getLanguageFromURL } from "@/util";
import { ViewTransitions } from "astro:transitions";

const lang = getLanguageFromURL(Astro.url.pathname);

function getRelativeLocaleUrl(href: string) {
  return `/${lang}${href}`;
}

function getTranslations(keys: TranslationsOptions) {
  return TRANSLATIONS?.[lang]?.[keys];
}

const props = {
  lang,
  getRelativeLocaleUrl,
  getTranslations,
  knownLanguages: KNOWN_LANGUAGES,
  ...Astro.props,
};
---

<Layout {...props}>
  <section class="page">
    <Header {...props} />
    <slot />
    <GlobalStyle />
    <ViewTransitions fallback="swap" />
  </section>
</Layout>
