---
import type { MarkdownHeading } from 'astro';

import AstroList from '@/components/List.astro';
import Layout from '@/layouts/Layout.astro';
import { getLanguageFromURL } from '@/util';

export type Props = {
  headings: MarkdownHeading[];
};

const headings = Astro?.props?.headings ?? [];
const lang = getLanguageFromURL(Astro.url.pathname);
const date = new Date(Astro.props.frontmatter.date).setHours(24);
const dateFormatter = new Intl.DateTimeFormat(lang);
const created = dateFormatter.format(date);
---

<Layout {...Astro.props} type="article">
  <section class="post section">
    <article class="section__article">
      <header>
        <p>{created}</p>
        <a title="Vinícius Victorino" href={`/${lang}/about`}>
          Vinícius Victorino
        </a>
      </header>
      <slot />
    </article>
    {
      headings.length ? (
        <aside class="section__aside">
          <nav class="section__aside__nav">
            <AstroList headings={headings} />
          </nav>
        </aside>
      ) : null
    }
  </section>
</Layout>

<style is:global>
  .post.section {
    @apply grid
    md:grid-cols-[1fr,auto]
    gap-8
    container
    p-8
    py-32
    xl:p-32
    mx-auto;

    .section__article {
      @apply max-w-[calc(100vw-4rem)]
      lg:max-w-[calc(100vw-24rem)];

      @apply flex
      flex-col
      grow
      gap-8
      w-full;
    }

    .section__aside {
      @apply relative
      hidden lg:flex
      max-w-64;

      &:before {
        content: '';
        @apply sticky
        top-24
        h-full
        max-h-[80vh]
        glow-dracula-comment
        dark:glow-dracula-green;
      }
      .section__aside__nav {
        @apply sticky
        top-24
        px-4
        overflow-y-auto
        max-h-[80vh];
      }
    }
  }
</style>
