---
import type { MarkdownHeading } from 'astro';
import fs from 'fs';

import AstroList from '@/components/List.astro';
import { getLanguageFromURL } from '@/util';

import Layout from './Layout.astro';

export type Props = {
  headings: MarkdownHeading[];
};

const headings = Astro?.props?.headings ?? [];
const lang = getLanguageFromURL(Astro.url.pathname);
const stats = fs.statSync(Astro?.props?.content.file);
const dateFormatter = new Intl.DateTimeFormat(lang);
const modified = dateFormatter.format(stats.mtime);
const created = dateFormatter.format(stats.birthtime);
---

<Layout {...Astro.props} type="article">
  <main class="main">
    <article class="article">
      <header>
        <p class="text-dark-comment">{created} - {modified}</p>
        <strong>Vinícius Victorino</strong>
      </header>
      <slot />
    </article>
    {
      headings.length ? (
        <aside class="aside">
          <nav class="nav">
            <AstroList headings={headings} />
          </nav>
        </aside>
      ) : null
    }
  </main>
</Layout>

<style>
  .main {
    @apply flex
    w-full
    gap-8
    container
    mx-auto
    p-8
    py-16;
  }

  .article {
    @apply flex
    flex-col
    grow
    gap-8
    w-full;
  }

  .aside {
    @apply relative
    hidden lg:block
    max-w-64;

    .nav {
      @apply sticky
      top-8
      px-4
      border-l-2
      border-gray-400
      dark:border-dark-currentLine
      overflow-y-auto
      max-h-[80vh];
    }
  }
</style>
