---
import { KNOWN_LANGUAGES } from '@/consts';
import Meta from '@/layouts/Meta.astro';
import Page from '@/layouts/Page.astro';
import { getLanguageFromURL } from '@/util';

const props = {
  lang: getLanguageFromURL(Astro.url.pathname),
  ...Astro.props,
  knownLanguages: KNOWN_LANGUAGES,
};
---

<!DOCTYPE html>
<html lang={props.lang} class="dark">
  <head>
    <Meta {...props} />
  </head>
  <body>
    <Page {...props}>
      <slot />
    </Page>
  </body>
</html>
